*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
}
.menu-bar{
  background-color:whitesmoke;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1%;
}
.logo{
  color:black;
  font-size: 30px;

}
.logo span{
  color: blue;
}
.menu-bar ul {
  display: flex;
}
.menu-bar ul li{
list-style: none;
padding: 10px 30px;
position: relative;
}
.menu-bar ul li a{
  text-decoration: none;
  color: black;
  font-size: 20px;
   transition: all 0.3se;

  }
  .menu-bar ul li a:hover{
    
    color: blue;

    }
 
    .hero{
      /* height:calc(100vh-80px); */
      height: 80vh;
      background-image: url(./bg.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .credit {
      width: 100%;
      height: 10vh;
      text-align: center;
      padding: 1rem;
      padding-top: 1.2rem;
      font-size: 1.5rem;
      color: white;
      text-align: center;
      background-color: gray;
     }

   label #btn,
   label #cancel{
       color:black;
       font-size: 30px;
       float: right;
       line-height: 80px;
       margin-right: 40px;
       cursor: pointer;
        display: none;
    } 
    #check{
      display: none;
    }

    @media (max-width:1118px){
  
    .logo{
     left: 8%;
      }
     
      
    } 
    @media (max-width:944px){
    
      .logo{
       left: 6%;
       top: 20px;
       font-size: 20px;
        }
        .menu-bar ul li a{
          font-size: 15px;
           
        
          }
       
        
      } 
      @media (max-width:860px){
      
          .menu-bar ul li a{
            font-size: 15px;
            }
            label #btn{
              display: block;
            }
         ul{
           position: fixed;
           width: 50%;
           height: 40vh;
           background: #344950;
           opacity: 0.8;
           top:30px;
           left: -100%;
           text-align: center;
           transition: all .5s;
           z-index: 1;
          
          }
         
          .menu-bar ul {
            display: block;
            margin: 50px 0; 
           line-height: 30px;
          
          }
         
         ul li a{
           font-size: 20px;
          
          }
         
          #check:checked ~ .menu-bar ul li{
            left: 0%;
          }
          
          #check:checked ~  label #btn{
            display: none;

          
          }
           
          #check:checked ~ label #cancel{
            display: block;
          } 
        } 