*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
}
.menu-bar{
  background-color:whitesmoke;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}
.logo{
  color:black;
  font-size: 30px;

}
.logo span{
  color: blue;
}
.menu-bar ul {
  display: flex;
}
.menu-bar ul li{
list-style: none;
padding: 10px 30px;
position: relative;
}
.menu-bar ul li a{
  text-decoration: none;
  color: black;
  font-size: 20px;
   transition: all 0.3se;

  }
  .menu-bar ul li a:hover{
    
    color: blue;
  
  
    }
    .drop-down{
      display: block;
      position: absolute;
      right: 300px;
      top: 10%; 
      background-color: whitesmoke;

    }
    .drop-down ul{
      display: block;
    }